[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/home/segfault/.config/i3/lock.sh
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
